.profile__edit-btn {
  padding: 0;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  grid-area: edit-btn;
  background: url(../../../images/profile-pen.svg) no-repeat center / 10px;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
  transition: .3s;
}

.profile__edit-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 468px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}