.popup__container_content_notification {
  box-sizing: border-box;
  padding-top: 212px;
  padding-bottom: 20px;
  min-height: 330px;
  max-width: 430px;
  background: no-repeat center top 60px / 120px 120px #fff;
  text-align: center;
}

@media screen and (max-width: 698px) {
  .popup__container_content_notification  {
    min-height: 308px;
    max-width: 280px;
    background-position-y: 50px;
  }
}