.logo {
  display: block;
  width: 142px;
  height: 33px;
  background: url(../../images/logo.svg) no-repeat center / contain;
  transition: .3s;
}

.logo:hover {
  opacity: .6;
}

@media screen and (max-width: 968px) {
  .logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 468px) {
  .logo {
    width: 103.74px;
    height: 24.4px;
  }
}