.page-not-found__title {
  margin: 0;
  font-size: 36px;
  font-weight: 900;
  line-height: 1.4;
  text-align: center;
}

@media screen and (max-width: 468px) {
  .page-not-found__title  {
    font-size: 28px;
  }
}