.page-not-found__accent {
  display: block;
  width: 100%;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 900;
}

@media screen and (max-width: 468px) {
  .page-not-found__accent  {
    font-size: 48px;
  }
}