.header {
  margin: 45px 0 40px;
  min-height: 73px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 468px) {
  .header {
    margin-top: 28px;
    margin-bottom: 42px;
    min-height: 56px;
  }
}