.form__input {
  margin-bottom: 5px;
  padding: 9px 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  background: transparent;
  border: none;
  outline: none;
  transition: .3s;
}